annotated-types
anyio
certifi
click
colorama
contourpy
cycler
dnspython
email-validator
fastapi
fonttools
h11
httpcore
httptools
httpx
idna
itsdangerous
Jinja2
joblib
kiwisolver
MarkupSafe
matplotlib
numpy
orjson
packaging
pandas
Pillow
pydantic
pydantic-extra-types
pydantic-settings
pydantic_core
pyparsing
python-dateutil
python-dotenv
python-multipart
pytz
PyYAML
scikit-learn
scipy
six
sniffio
starlette
threadpoolctl
typing_extensions
tzdata
ujson
uvicorn
watchfiles
websockets
